/* Damos los siguientes estilos generales al documento */
body {
    background-color: skyblue;
    color: darkblue;
    /* Declarando aquí Calibri le damos esta fuente a todo el documento */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

/* Declarando aquí la fuente al legend y aprovechando el estilo en cascada de lo damos solo a estas etiquetas */
legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Damos los márgenes para replicar la imagen */
/* Con la , seleccionamos más de una etiqueta */
select, input {
    margin-bottom: 15px;
}

img {
    width: 50px;
}

#proceed, #comeback {
    padding: 25px;
    background-color: darkblue;
    color: skyblue;
    /* Con lo siguiente damos el doble de tamaño de la fuente original */
    font-size: 2em;
}

/* Declaramos la letra específica */
#comeback {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Quitamos el subrayado y le devolvemos el color */
a {
    text-decoration: none;
    color: skyblue;
}